{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
  <nav class="center" role="navigation" aria-label="{{- 'general.pagination.label' | t -}}">
    <ul class="list-unstyled pagination__list" role="list">
      <li>
        <a
          href="{{ paginate.previous.url }}{{ anchor }}"
          class="pagination__link link {% unless paginate.previous %}not-active{% endunless %}"
          aria-label="{{- 'general.pagination.previous' | t -}}"
          title="{{- 'general.pagination.previous' | t -}}"
        >
          {%- render 'icon-chevron-left' -%}
        </a>
      </li>

      {%- for part in paginate.parts -%}
        <li>
          {%- if part.is_link -%}
            <a
              href="{{ part.url }}{{ anchor }}"
              class="pagination__link link"
              aria-label="{{- 'general.pagination.page' | t: number: part.title -}}"
            >{{- part.title -}}</a>
          {%- else -%}
            <span
              {% if part.title == paginate.current_page %}
                aria-current="page"
                aria-label="{{- 'general.pagination.page' | t: number: part.title -}}"
              {% endif %}
            >{{- part.title -}}</span>
          {%- endif -%}
        </li>
      {%- endfor -%}

      <li>
        <a
          href="{{ paginate.next.url }}{{ anchor }}"
          class="pagination__link link {% unless paginate.next %}not-active{% endunless %}"
          aria-label="{{- 'general.pagination.next' | t -}}"
          title="{{- 'general.pagination.next' | t -}}"
        >
          {%- render 'icon-chevron-right' -%}
        </a>
      </li>
    </ul><!-- /.list-unstyled -->
  </nav><!-- /.center -->
{%- endif -%}
