{% comment %}
    Renders a list of product's price (regular, sale)
    Accepts:
    - product_ref: {Object} Product Liquid object
    - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
    Usage:
    {% render 'price', product_ref: product %}
{% endcomment %}

{%- liquid
  if use_variant
    assign target = product_ref.selected_or_first_available_variant
  else
    assign target = product_ref
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign money_price = price | money
  assign unit_price = product_ref.selected_or_first_available_variant.unit_price_measurement

  if target == product_ref and product_ref.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

<div class="price
  {%- if available == false %} price--sold-out {% endif -%}
  {%- if compare_at_price > price %} price--on-sale {% endif -%}
  {%- if product_ref.price_varies == false and product_ref.compare_at_price_varies %} price--no-compare{% endif -%}">
  <div class="price__container">
    {%- if product_ref -%}
      {%- if compare_at_price > price -%}
        <div class="price__sale">
          {%- unless product_ref.price_varies == false and product_ref.compare_at_price_varies %}
            <span class="visually-hidden">{{- 'products.product.price.regular_price' | t -}}</span>

            <del>{{- compare_at_price | money -}}</del>
          {%- endunless -%}

          <span class="visually-hidden">{{- 'products.product.price.sale_price' | t -}}</span>

          <ins class="ins">{{- money_price -}}</ins>
        </div>
      {%- else -%}
        <div class="price__regular">
          <span class="visually-hidden">{{- 'products.product.price.regular_price' | t -}}</span>

          <span class="ins">{{- money_price -}}</span>
        </div>
      {%- endif -%}

      {%- if settings.price_unit and unit_price != blank -%}
        <div class="price__unit">
          <span class="visually-hidden">
            {{- 'products.product.price.unit_price' | t -}}
          </span>

          {%- if settings.show_currency_codes -%}
            {{- product_ref.selected_or_first_available_variant.unit_price | money_with_currency -}}
          {%- else -%}
            {{- product_ref.selected_or_first_available_variant.unit_price | money -}}
          {%- endif -%}

          <span aria-hidden="true"> / </span>

          {%- if unit_price.reference_value != 1 -%}
            {{- unit_price.reference_value -}}
          {%- endif -%}

          {{- unit_price.reference_unit -}}
        </div>
      {%- endif -%}

    {%- else -%}
      <span>{{- 9999 | money -}}</span>
    {%- endif -%}
  </div>
</div>
