<link rel="stylesheet" href="{{ 'section-newsletter-banner.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>
  {{- 'section-newsletter-banner.css' | asset_url | stylesheet_tag -}}
</noscript>

{% if section.settings.overwrite_colors %}
  <style>
    .newsletter-banner--{{ section.id }} {
      --color: {{ section.settings.color }};
      --background: {{ section.settings.background }};
      --border-color: {{ section.settings.border_color }};
    }
  </style>
{% endif %}

<section data-aos="fade-zoom-in" class="newsletter-banner newsletter-banner--{{ section.id }}">
  <div class="container container--narrow">
    <div class="newsletter__wrapper">
      <div class="newsletter__head">
        {% if section.settings.enable_icon %}
          <div class="newsletter__icon">
            {% render 'icon-letter' %}
          </div><!-- /.newsletter__icon -->
        {% endif %}

        {% if section.settings.subheading != blank %}
          <h6 class="newsletter__pre-heading">
            {{ section.settings.subheading }}
          </h6><!-- /.featured__pre-heading -->
        {% endif %}

        <h3 class="newsletter__title {{ section.settings.heading_size }}">
          {{ section.settings.title | newline_to_br }}
        </h3><!-- /newsletter__title -->

        {% if section.settings.subtitle != blank %}
          <div class="newsletter__subtitle">
            {{ section.settings.subtitle }}
          </div><!-- /.newsletter__subtitle -->
        {% endif %}
      </div><!-- /.newsletter__head -->

      <div class="newsletter__form">
        {% render 'newsletter-form', namespace: section.id, button_style: section.settings.button_style %}
      </div><!-- /.newsletter__form -->
    </div><!-- /.newsletter__wrapper -->
  </div><!-- /.container -->
</section><!-- /.newsletter -->

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "overwrite_colors",
      "label": "t:sections.global.settings.overwrite_colors.label"
    },
    {
      "type": "color",
      "id": "color",
      "label": "t:sections.global.settings.colors.text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background",
      "label": "t:sections.global.settings.colors.background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "t:sections.newsletter.settings.border_color.label",
      "default": "#cccccc"
    },
    {
      "type": "checkbox",
      "id": "enable_icon",
      "label": "t:sections.newsletter.settings.enable_icon.label",
      "default": true
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "t:sections.global.settings.heading.label",
      "default": "Subscribe"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.global.settings.heading_size.label",
      "options": [
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_size.options.small"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_size.options.medium"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_size.options.large"
        }
      ],
      "default": "h3"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "t:sections.global.settings.description.label",
      "default": "<p>Use this form to ask your clients to subscribe to your newsletter</p>"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.global.settings.button_style.label",
      "options": [
        {
          "value": "button--style-1",
          "label": "t:sections.global.settings.button_style.options.style_one"
        },
        {
          "value": "button--style-2",
          "label": "t:sections.global.settings.button_style.options.style_two"
        },
        {
          "value": "button--style-3",
          "label": "t:sections.global.settings.button_style.options.style_three"
        },
        {
          "value": "button--style-4",
          "label": "t:sections.global.settings.button_style.options.style_four"
        }
      ],
      "default": "button--style-2"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.name"
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  }
}
{% endschema %}
