<link rel="stylesheet" href="{{ 'section-image-with-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>
  {{- 'section-image-with-text.css' | asset_url | stylesheet_tag -}}
</noscript>

<style>
  {% if section.settings.overwrite_colors %}
    .section-image-with-text--{{ section.id }} {
      --color: {{ section.settings.color }};
      --background: {{ section.settings.background }};
    }
  {% endif %}

  .section-image-with-text--{{ section.id }} {
    --image-width: {{ section.settings.image_width }}%;
  }

  .section-image-with-text--{{ section.id }} .section__image:after {
    --overlay_color: {{ section.settings.overlay_color }};
  }
</style>

<section
  class="
    section-image-with-text
    {% if section.settings.image_desktop == blank and section.settings.image_mobile == blank %}section-image-with-text--not-image{% endif %}
    {% if section.settings.enable_wide == false %}section-image-with-text--narrow{% endif %}
    {% if section.settings.gap or section.settings.enable_wide == false %}section-image-with-text--has-background{% endif %}
    {% if section.settings.aspect_ratio_desktop == 'auto' %}section-image-with-text--height-auto-desktop{% endif %}
    {% if section.settings.aspect_ratio_mobile == 'auto' %}section-image-with-text--height-auto-mobile{% endif %}
    section-image-with-text--{{ section.settings.layout }}
    section-image-with-text--{{ section.id }}
  ">
  <div class="
    container
    {% if section.settings.enable_wide %}container--fluid{% endif %}
    {% if section.settings.gap and section.settings.enable_wide %}container--fullwidth{% endif %}
  ">
    <div class="section__inner">
      <div class="section__image-item section__image-item-mobile--{{ section.settings.image_position }}">
        <div class="
          section__image
          media
          {{ section.settings.aspect_ratio_desktop }}
          {{ section.settings.aspect_ratio_mobile }}
          {% if section.settings.aspect_ratio_desktop == 'viewport' %}section__image--viewport{% endif %}
          {% if section.settings.image_mobile != blank %}section__image--mobile-hidden{% endif %}
        ">
          {% if section.settings.image_desktop != blank %}
            {%-
              liquid
              assign image = section.settings.image_desktop
              assign image_src = image | image_url: width: 500
              capture image_srcset
                render 'srcset', image: image
                assign sizes = '(max-width: 480px) 767px,(max-width: 767px) 1500px'
              endcapture
              assign image_alt = image.alt | escape

              render 'image', src: image_src, srcset: image_srcset, sizes: sizes, alt: image_alt, width: image.width, height: image.height, focal_point: image.presentation.focal_point
            -%}
          {% else %}
            {{ 'collection-6' | placeholder_svg_tag }}
          {% endif %}
        </div><!-- /.section__image -->

        {% if section.settings.image_mobile != blank %}
          <div class="
            section__image
            section__image--mobile
            media
            {{ section.settings.aspect_ratio_mobile }}
            media--mobile
            {% if section.settings.aspect_ratio_mobile == 'viewport' %}section__image--mobile-viewport{% endif %}
          ">
            {%-
              liquid
              assign image = section.settings.image_mobile
              assign image_src = image | image_url: width: 375
              capture image_srcset
                render 'srcset', image: image, widths: '750'
                assign sizes = '(max-width: 767px) 750px'
              endcapture
              assign image_alt = image.alt | escape

              render 'image', src: image_src, srcset: image_srcset, sizes: sizes, alt: image_alt, width: image.width, height: image.height, focal_point: image.presentation.focal_point
            -%}
          </div><!-- /.media media--9-16 media--mobile -->
        {% endif %}
      </div><!-- /.section__image-item -->

      {% if section.settings.heading != blank or section.settings.pre_heading != blank or section.settings.subheading != blank %}
        <div class="
          section__content
          section__content--{{ section.settings.content_horizontal_align }}
          section__content--{{ section.settings.content_size }}
          {% if section.settings.flip %}section__content--flip{% endif %}
          {% if section.settings.content_large_gap %}section__content--large-gap{% endif %}"
        >
          {% if section.settings.heading != blank %}
            <h2 class="section__title {% if section.settings.content_size == 'small' %}h3{% else %}h1{% endif %}">
              {% if section.settings.pre_heading != blank %}
                <small class="caption-ffb">{{ section.settings.pre_heading }}</small>
              {% endif %}

              {{ section.settings.heading | newline_to_br }}
            </h2><!-- /.section__title -->
          {% endif %}

          {% if section.settings.subheading != blank %}
            <div class="section__entry">
              {{ section.settings.subheading }}
            </div><!-- /.section__entry -->
          {% endif %}

          {% if section.settings.expiration_date != blank %}
            <div class="section__countdown">
              {% render 'countdown-timer' expiration_date: section.settings.expiration_date %}
            </div><!-- /.section__countdown -->
          {% endif %}

          {% if section.settings.button_label != blank and section.settings.button_link != blank %}
            <div class="section__actions">
              <a href="{{	section.settings.button_link }}" class="button {{ section.settings.button_style }} {% if section.settings.button_style_hover_outline %}button--outline{% endif %}">{{ section.settings.button_label }}</a>
            </div><!-- /.section__actions -->
          {% endif %}
        </div><!-- /.section__content -->
      {% endif %}
    </div><!-- /.section__inner -->
  </div><!-- /.container -->
</section><!-- /.section-image-with-text -->

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "overwrite_colors",
      "label": "t:sections.global.settings.overwrite_colors.label"
    },
    {
      "type": "color",
      "id": "color",
      "label": "t:sections.global.settings.colors.text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background",
      "label": "t:sections.global.settings.colors.background",
      "default": "#ffffff",
      "info": "t:sections.image-with-text.settings.background.info"
    },
    {
      "type": "color_background",
      "id": "overlay_color",
      "label": "t:sections.image-with-text.settings.overlay_color.label",
      "default": "linear-gradient(0deg, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%)"
    },
    {
      "type": "checkbox",
      "id": "enable_wide",
      "label": "t:sections.global.settings.enable_wide.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gap",
      "label": "t:sections.image-with-text.settings.gap.label",
      "info": "t:sections.image-with-text.settings.gap.info"
    },
    {
      "type": "checkbox",
      "id": "flip",
      "label": "t:sections.image-with-text.settings.flip.label",
      "info": "t:sections.image-with-text.settings.flip.info",
      "default": false
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.image-with-text.settings.layout.label",
      "options": [
        {
          "value": "full-width",
          "label": "t:sections.image-with-text.settings.layout.options.full_width.label"
        },
        {
          "value": "50-50",
          "label": "t:sections.image-with-text.settings.layout.options.50_50.label"
        }
      ],
      "default": "50-50"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.section_headers.media"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 30,
      "max": 70,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-with-text.settings.image_width.label",
      "default": 50,
      "info": "t:sections.image-with-text.settings.image_width.info"
    },
    {
      "type": "select",
      "id": "aspect_ratio_desktop",
      "label": "t:sections.global.settings.aspect_ratio_desktop.label",
      "options": [
        {
          "value": "media--21-9",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.21_9.label"
        },
        {
          "value": "media--2-1",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.2_1.label"
        },
        {
          "value": "media--16-9",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.16_9.label"
        },
        {
          "value": "media--3-2",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.3_2.label"
        },
        {
          "value": "media--1-1",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.1_1.label"
        },
        {
          "value": "media--viewport",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.viewport.label"
        },
        {
          "value": "auto",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.auto.label"
        }
      ],
      "default": "media--2-1"
    },
    {
      "type": "select",
      "id": "aspect_ratio_mobile",
      "label": "t:sections.global.settings.aspect_ratio_mobile.label",
      "options": [
        {
          "value": "media--mobile-9-16",
          "label": "t:sections.global.settings.aspect_ratio_mobile.options.9_16.label"
        },
        {
          "value": "media--mobile-2-3",
          "label": "t:sections.global.settings.aspect_ratio_mobile.options.2_3.label"
        },
        {
          "value": "media--mobile-4-5",
          "label": "t:sections.global.settings.aspect_ratio_mobile.options.4_5.label"
        },
        {
          "value": "media--mobile-1-1",
          "label": "t:sections.global.settings.aspect_ratio_mobile.options.1_1.label"
        },
        {
          "value": "media--mobile-viewport",
          "label": "t:sections.global.settings.aspect_ratio_mobile.options.viewport.label"
        },
        {
          "value": "auto",
          "label": "t:sections.global.settings.aspect_ratio_desktop.options.auto.label"
        }
      ],
      "default": "media--mobile-9-16"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.image-with-text.settings.image_position.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.image_position.options.top.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.image_position.options.bottom.label"
        }
      ],
      "default": "top",
      "info": "t:sections.image-with-text.settings.image_position.info"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "t:sections.global.settings.image.label_desktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.global.settings.image.label_mobile"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.section_headers.text_content"
    },
    {
      "type": "text_alignment",
      "id": "content_horizontal_align",
      "label": "t:sections.global.settings.horizontal_alignment.label",
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_size",
      "label": "t:sections.image-with-text.settings.content_size.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.content_size.options.small.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.content_size.options.large.label"
        }
      ],
      "default": "small"
    },
    {
      "type": "checkbox",
      "id": "content_large_gap",
      "label": "t:sections.image-with-text.settings.content_large_gap.label",
      "info": "t:sections.image-with-text.settings.content_large_gap.info"
    },
    {
      "type": "text",
      "id": "pre_heading",
      "label": "t:sections.global.settings.subheading.label",
      "default": "Add a tagline here"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "Add a catchy title"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "t:sections.global.settings.description.label",
      "default": "<p>Use this text to share information about your store with your customers. Describe products, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "text",
      "id": "expiration_date",
      "label": "t:sections.image-with-text.settings.expiration_date.label",
      "info": "t:sections.image-with-text.settings.expiration_date.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.section_headers.button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.global.settings.button_label.label",
      "default": "Click me"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.global.settings.button_link.label",
      "default": "/collections"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.global.settings.button_style.label",
      "options": [
        {
          "value": "button--style-1",
          "label": "t:sections.global.settings.button_style.options.style_one"
        },
        {
          "value": "button--style-2",
          "label": "t:sections.global.settings.button_style.options.style_two"
        },
        {
          "value": "button--style-3",
          "label": "t:sections.global.settings.button_style.options.style_three"
        },
        {
          "value": "button--style-4",
          "label": "t:sections.global.settings.button_style.options.style_four"
        }
      ],
      "default": "button--style-2"
    },
    {
      "type": "checkbox",
      "id": "button_style_hover_outline",
      "label": "t:sections.global.settings.button_style_hover_outline.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.name"
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  }
}
{% endschema %}
