{{- 'section-password-header.css' | asset_url | stylesheet_tag -}}

<style>
  .header-password--{{ section.id }} {
    --logo-width: {{ section.settings.logo_width | times: 0.1 }}rem;
    --logo-width-mobile: {{ section.settings.logo_width_mobile | times: 0.1 }}rem;
  }
</style>

<header class="header-password header-password--{{ section.id }}">
  <div class="container flex flex--justify flex--center">
    {%- if section.settings.logo != blank -%}
      <img
        class="header-password__logo"
        src="{{- section.settings.logo | image_url: width: 355 -}}"
        alt="{{- section.settings.logo.alt -}}"
        width="auto"
        height="auto"
        loading="lazy"
        style="object-position: {{ section.settings.logo.presentation.focal_point }}"
      >
    {%- elsif section.settings.logo_svg != blank -%}
      {{ section.settings.logo_svg }}
    {%- else -%}
      <h1 class="h3 header-password__title">
        {{- shop.name | escape -}}
      </h1><!-- /.h3 header-password__title -->
    {%- endif -%}

    <modal-opener class="header-password__link" data-modal="#PasswordModal">
      <button class="link" type="button" aria-haspopup="dialog">
          {{- 'password.password_link' | t -}}
      </button>
    </modal-opener>
  </div><!-- /.container -->
</header><!-- /.header-password -->

{% schema %}
{
  "name": "t:sections.password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.password-header.settings.logo.label"
    },
    {
      "type": "html",
      "id": "logo_svg",
      "label": "t:sections.password-header.settings.logo_svg.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.global.settings.logo_width_desktop.label",
      "default": 150
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.global.settings.logo_width_mobile.label",
      "default": 150
    }
  ]
}
{% endschema %}
