<style>@media screen and (max-width:767px){.__pf [data-pf-type=Section]{overflow-x:hidden!important}}[data-pf-type=Section]{overflow-x:hidden}body,html{overflow-x:hidden!important}</style><script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | within: collection | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};{% endunless %}
	</script>{% if collection_310362538182 == null %}{%- assign collection_310362538182 = collections["trendy-products"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["310362538182"] = {{collection_310362538182 | json }};
	</script><div data-pf-editor-version="legacy" class="sc-bOQUxc cnplnS __pf __pf_zvXdJP5o" id="__pf"><div data-pf-type="Body" class="sc-gVJwnc jQuxio pf-1_"><div data-pf-type="Layout" class="sc-iaJahb cBxDMU pf-2_"><div data-section-id="pf-a231" data-pf-type="Section" class="sc-bcSJDS dsCpLi pf-3_ pf-color-scheme-1"><div class="sc-enkJyZ gKpywE"><div class="sc-hzhKNl fltMam pf-4_ pf-r pf-c-cm pf-r-eh pf-lg-hide" style="--s-xs:0px;--s-sm:15px;position:relative" data-pf-type="Row"><div class="pf-c pf-lg-hide pf-md-hide pf-sm-hide pf-hide" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-5_ pf-bg-lazy pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><a href="/collections/accent-chairs" target="_self" data-pf-type="Button2" class="sc-fscnvs eKYAAY pf-6_ pf-button-7 pf-lg-hide pf-md-hide pf-sm-hide pf-hide">Shop Now</a></div></div></div><div class="sc-hzhKNl fltMam pf-8_ pf-r pf-c-cm pf-r-eh pf-lg-hide pf-md-hide pf-sm-hide pf-hide" style="--s-xs:0px;--s-sm:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-9_"><img alt="saloni-banner.webp__PID:11f8a144-07a7-4052-9d62-c31f6b5865fe" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1920" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1920 1920w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:2.3848580441640377" width="1512" height="634" sizes="100vw" data-pf-type="Image4" class="sc-pKreJ jowHiA pf-10_ pf-image-1" store="[object Object]"/><img alt="saloni.webp__PID:e1e74e01-0f02-4381-a525-dcacd36701d9" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1920" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1920 1920w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:4.359832635983263" width="1042" height="239" sizes="100vw" data-action="url" data-href="/collections/accent-chairs" data-target="_self" data-pf-type="Image4" data-animation="zoomIn" class="sc-pKreJ jowHiA pf-11_ pf-image-1 animate-bounce-out" store="[object Object]"/></div></div></div><div class="sc-hzhKNl fltMam pf-12_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-13_"><div data-pf-type="Slideshow" class="sc-iXzffn euARVg pf-14_"><div data-id="slider-d011ac4b-4dfc-403a-a529-8bfc1224cd9a-mobile" class="pf-slider scrollfix" style="--ss-xs:1;--ss-sm:1;--ss-md:1;--ss-lg:1"><div class="pf-slide"><div class="sc-bJUkdm fydhRR pf-15_" data-pf-type="SlideshowSlide"><div class="sc-hzhKNl fltMam pf-16_ pf-r pf-r-eh" style="--s-xs:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-17_"><img alt="Thanksgiving Banner 20251118.webp__PID:248442f6-9fdf-41cd-ab1c-6bb231994af4" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Thanksgiving_Banner_20251118.webp?v=1763458716&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:2.416403785488959" width="1532" height="634" sizes="75vw" data-pf-type="Image4" class="sc-pKreJ jowHiA pf-18_" store="[object Object]"/><img alt="saloni-thansgiving.webp__PID:b1d10d7b-58a8-49a4-b6a3-1443b2201f15" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-thansgiving.webp?v=1763377090&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:4.359832635983263" width="1042" height="239" sizes="75vw" data-pf-type="Image4" data-animation="zoomIn" class="sc-pKreJ jowHiA pf-19_ animate-bounce-out" store="[object Object]"/></div></div></div></div></div><div class="pf-slide"><div class="sc-bJUkdm fydhRR pf-20_" data-pf-type="SlideshowSlide"><div class="sc-hzhKNl fltMam pf-21_ pf-r pf-r-eh" style="--s-xs:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-22_"><img alt="saloni_1.webp__PID:f20caf92-c6ad-420f-bf29-cdea27a91abc" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_1.webp?v=1751897359&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:2.3848580441640377" width="1512" height="634" sizes="75vw" data-pf-type="Image4" class="sc-pKreJ jowHiA pf-23_" store="[object Object]"/><img alt="saloni.webp__PID:e1e74e01-0f02-4381-a525-dcacd36701d9" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:4.359832635983263" width="1042" height="239" sizes="75vw" data-action="url" data-href="/products/bibendum-sofa" data-target="_self" data-pf-type="Image4" data-animation="zoomIn" class="sc-pKreJ jowHiA pf-24_ animate-bounce-out" store="[object Object]"/></div></div></div></div></div><div class="pf-slide"><div class="sc-bJUkdm fydhRR pf-25_" data-pf-type="SlideshowSlide"><div class="sc-hzhKNl fltMam pf-26_ pf-r pf-r-eh" style="--s-xs:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-27_"><img alt="saloni_4.webp__PID:82b9ecfe-322c-4cb7-98a0-bc6639df74e4" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_4.webp?v=1751898174&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:2.3848580441640377" width="1512" height="634" sizes="75vw" data-pf-type="Image4" class="sc-pKreJ jowHiA pf-28_" store="[object Object]"/><img alt="saloni-orion.webp__PID:3c95f5b4-b82b-4503-a107-e23fd8d8c2da" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-orion.webp?v=1752658349&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:4.359832635983263" width="1042" height="239" sizes="75vw" data-action="url" data-href="/products/orion" data-target="_self" data-pf-type="Image4" data-animation="zoomIn" class="sc-pKreJ jowHiA pf-29_ animate-bounce-out" store="[object Object]"/></div></div></div></div></div><div class="pf-slide"><div class="sc-bJUkdm fydhRR pf-30_" data-pf-type="SlideshowSlide"><div class="sc-hzhKNl fltMam pf-31_ pf-r pf-r-eh" style="--s-xs:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-32_"><img alt="saloni_2.png__PID:cdea27a9-1abc-4d51-8ec3-7f491af35af9" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_2.png?v=1751897474&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:2.3848580441640377" width="1512" height="634" sizes="75vw" data-pf-type="Image4" class="sc-pKreJ jowHiA pf-33_" store="[object Object]"/><img alt="saloni-heritage.webp__PID:6388ee7a-1d17-4d4c-95ac-54d7b7e895a3" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-heritage.webp?v=1752658620&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:4.359832635983263" width="1042" height="239" sizes="75vw" data-action="url" data-href="/products/heritage-sofa" data-target="_self" data-pf-type="Image4" data-animation="zoomIn" class="sc-pKreJ jowHiA pf-34_ animate-bounce-out" store="[object Object]"/></div></div></div></div></div><div class="pf-slide"><div class="sc-bJUkdm fydhRR pf-35_" data-pf-type="SlideshowSlide"><div class="sc-hzhKNl fltMam pf-36_ pf-r pf-r-eh" style="--s-xs:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-37_"><img alt="saloni_3.png__PID:7f491af3-5af9-4273-ab5b-84fe849c0078" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni_3.png?v=1751898076&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:2.3848580441640377" width="1512" height="634" sizes="75vw" data-pf-type="Image4" class="sc-pKreJ jowHiA pf-38_" store="[object Object]"/><img alt="saloni-tonfo.webp__PID:1cdbd9c8-6f00-4c36-9109-a2e47a2aaf2d" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-tonfo.webp?v=1752659314&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:4.359832635983263" width="1042" height="239" sizes="75vw" data-action="url" data-href="/products/tonfo-bedstead" data-target="_self" data-pf-type="Image4" data-animation="zoomIn" class="sc-pKreJ jowHiA pf-39_ animate-bounce-out" store="[object Object]"/></div></div></div></div></div><button type="button" style="visibility:hidden" aria-label="Previous" class="pf-slider-prev nav-style-1 "></button><button type="button" style="visibility:hidden" aria-label="Next" class="pf-slider-next nav-style-1 "></button></div></div><img alt="saloni-banner.webp__PID:11f8a144-07a7-4052-9d62-c31f6b5865fe" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1920" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni-banner.webp?v=1739985768&width=1920 1920w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:2.3848580441640377" width="1512" height="634" sizes="100vw" data-pf-type="Image4" class="sc-pKreJ jowHiA pf-40_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide pf-hide" store="[object Object]"/><img alt="saloni.webp__PID:e1e74e01-0f02-4381-a525-dcacd36701d9" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1920" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/saloni.webp?v=1739986065&width=1920 1920w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:4.359832635983263" width="1042" height="239" sizes="100vw" data-action="url" data-href="/collections/accent-chairs" data-target="_self" data-pf-type="Image4" data-animation="zoomIn" class="sc-pKreJ jowHiA pf-41_ pf-image-1 animate-bounce-out pf-lg-hide pf-md-hide pf-sm-hide pf-hide" store="[object Object]"/></div></div></div><div class="sc-hzhKNl fltMam pf-42_ pf-r pf-r-eh" style="--s-xs:8px;--s-sm:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-43_"><h1 data-pf-type="Heading2" class="sc-cTTcKX ejfvWQ pf-44_ pf-heading-1-h1">New Season<br></h1><p class="sc-lmUbDS cFVOqs pf-46_ pf-text-1" data-pf-type="Paragraph3">Discover the New Season Collection at Saloni Furniture, featuring fresh designs that bring modern elegance to every room. Elevate your space with our latest pieces, crafted for both comfort and style.</p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-48_"><img alt="bonbon-pouf-detay1.png__PID:4a797158-4de5-4e02-890e-56999452542e" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/bonbon-pouf-detay1_fb856841-feab-43cf-bceb-293e5ed34f97.png?v=1728313390&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:0.6666666666666666" width="1112" height="1668" sizes="75vw" data-pf-type="Image4" class="sc-pKreJ jowHiA pf-49_ pf-image-1" store="[object Object]"/><div class="sc-hzhKNl fltMam pf-50_ pf-r pf-r-eh" style="--s-xs:8px;--s-sm:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-51_"><h3 data-pf-type="Heading2" class="sc-cTTcKX ejfvWQ pf-52_ pf-heading-1-h3">Best <br>Seller</h3><p class="sc-lmUbDS cFVOqs pf-54_ pf-text-1" data-pf-type="Paragraph3">Explore Saloni Furniture's best-selling pieces, where style meets exceptional comfort.</p><a href="/collections/trendy-products" target="_self" data-pf-type="Button2" class="sc-fscnvs eKYAAY pf-56_ pf-button-1">Shop Now</a></div></div></div></div></div></div><div class="sc-hzhKNl fltMam pf-58_ pf-bg-lazy pf-r pf-c-cm pf-r-eh" style="--s-xs:8px;--s-sm:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-59_"><div style="--s-xs:6px;--s-sm:15px;--s-lg:37.5px" data-pf-type="ProductList2" class="sc-lfYA-dV sc-gAjumy cCVQIm cRrSmI pf-60_ pf-hide"><div class="pf-slider pf-c-lt" style="--ss-xs:1;--ss-sm:1;--ss-md:1;--ss-lg:1" data-slider="{'navStyle':'nav-style-5','maxHeight':true,'listLayout':{'all':0,'laptop':0,'tablet':0,'mobile':0},'slidesToShow':{'all':1,'laptop':1,'tablet':1,'mobile':1},'slidesToScroll':{'all':1,'laptop':1,'tablet':1,'mobile':1},'paginationStyle':'pagination-style-3','displayPartialItems':{'all':false,'laptop':false,'tablet':false,'mobile':false},'spacing':{'all':'75px','laptop':'30px','tablet':'30px','mobile':'12px'}}">{% assign collection_310362538182 = collections["trendy-products"] %}{% assign defaultProduct = product %}{% paginate collection_310362538182.products by 4 %}{% for product in collection_310362538182.products %}{% assign product_index = forloop.index | minus: 1 %}<div class="pf-slide pf-c"><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-nZfrO frLWAh pf-61_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-hzhKNl fltMam pf-62_ pf-r pf-r-eh" style="--s-xs:0px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-63_"><div data-product-id="{{ product.id }}" data-media-id="{% liquid
    assign min = 10000000000
    assign max = 99999999999
    assign diff = max | minus: min
    assign number = "now" | date: "%N" | modulo: diff | plus: min
  %}{{number}}" data-pf-type="ProductMedia2" class="sc-fedSUO caHDAB pf-64_">
                      {% assign media = product.media %}
                      {% assign featured_media = product.featured_media %}
                      {% assign _product = product %}
                      {% assign first_3d_model = product.media | where: "media_type", "model" | first %}
                  <div class="sc-eWHaij jbCQdO   pf-lg-hide-list pf-md-hide-list pf-sm-hide-list pf-xs-hide-list product-media2-inner product-media-loading"><div class="sc-APbHK dLURaw pmw pf-main-media-wrapper"><div data-pf-type="MediaMain2" class="sc-heIBZE eBQkmz pf-65_ pf-main-media" data-href="{{ product.url }}" data-action="url"><div class="sc-dZxQQf iJiMeD">{% if media.size == 0 %}<div class="pf-media-slider scrollfix">{% assign temp_placeholder = 'collection-1' | placeholder_svg_tag: 'pf-product-placeholder' %}{{ temp_placeholder | replace: 'class="pf-product-placeholder"', 'class="pf-product-placeholder" height="auto" preserveAspectRatio="xMidYMid slice"' }}</div>{% else %}{% assign assigned_product = product %}{% assign selected_variant = assigned_product.selected_variant %}{% assign media_item_selected = media | first %}{% assign media_item_selected = assigned_product.featured_media %}{% if selected_variant and selected_variant.featured_media %}{% assign media_item_selected = selected_variant.featured_media %}{% endif %}{% if selected_variant and selected_variant.featured_media == nil %}{% assign media_item_selected = assigned_product.featured_media %}{% endif %}{% assign default_variant_media_id = media_item_selected.id %}<div class="pf-media-slider scrollfix" data-id="slider-99ed6935-2503-4d65-8b7a-eee97b973250">{% assign temp_media = '' %}{% assign target_media_item = '' %}{% capture tmp_loading %}{% for media_item in media %}
                {% assign pf_temp_loading = "lazy" %}
                {% assign pf_temp_fetchPriority = "low" %}
                {% capture media_template %}<div class="pf-slide-main-media" data-media-type="{{ media_item.media_type }}" data-media-id="{{ media_item.id }}">{% case media_item.media_type %}
                  {% when 'model' %}<div class="pf-media-wrapper" style="--r-xs:100%">{{ media_item | media_tag }}<div class="pf-mask"><span><svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.6" d="M14.1301 3.27971L9.00008 0.319707C8.69604 0.144171 8.35115 0.0517578 8.00008 0.0517578C7.649 0.0517578 7.30411 0.144171 7.00008 0.319707L1.88008 3.31971C1.5719 3.49759 1.31675 3.75447 1.14097 4.06385C0.965185 4.37323 0.875124 4.72391 0.880077 5.07971V10.9997C0.875124 11.3555 0.965185 11.7062 1.14097 12.0156C1.31675 12.3249 1.5719 12.5818 1.88008 12.7597L7.00008 15.7597C7.30411 15.9352 7.649 16.0277 8.00008 16.0277C8.35115 16.0277 8.69604 15.9352 9.00008 15.7597L14.1201 12.7597C14.4283 12.5818 14.6834 12.3249 14.8592 12.0156C15.035 11.7062 15.125 11.3555 15.1201 10.9997V4.99971C15.119 4.65165 15.0271 4.30991 14.8535 4.00825C14.6798 3.7066 14.4305 3.45547 14.1301 3.27971ZM7.73008 14.3797L2.61008 11.3797C2.54095 11.34 2.48167 11.2852 2.43666 11.2194C2.39164 11.1536 2.36205 11.0785 2.35008 10.9997V4.99971C2.3504 4.90601 2.37556 4.81407 2.42299 4.73327C2.47042 4.65246 2.53843 4.58567 2.62008 4.53971L7.74008 1.53971C7.82065 1.49319 7.91204 1.4687 8.00508 1.4687C8.09811 1.4687 8.18951 1.49319 8.27008 1.53971L13.3901 4.53971L8.67008 7.21971C8.45972 7.33976 8.28614 7.51498 8.16806 7.72646C8.04999 7.93793 7.9919 8.17764 8.00008 8.41971V14.4197C7.91475 14.4413 7.8254 14.4413 7.74008 14.4197L7.73008 14.3797Z" fill="black"></path></svg></span></div></div>{% when 'external_video' %}<div class="pf-media-wrapper" data-video-host="{{ media_item.host }}" style="--r-xs:100%">{{ media_item | media_tag }}<div class="pf-mask-iframe" data-play="false"></div></div>{% when 'video' %}<div class="pf-media-wrapper" style="--r-xs:100%">{{ media_item | media_tag: image_size: '1080x' }}</div>{% else %}
                {% assign base_url = media_item | image_url %}
                {% assign widths = "375, 550, 768, 1024, 1280, 1440, 1680, 1800, 1920, 2048" | split: ', ' %}
                {% assign srcset_values = "" %}
                
                {% for width in widths %}
                  {% assign image_url = base_url | append: "&width=" | append: width %}
                  {% assign srcset_values = srcset_values | append: image_url | append: ' ' | append: width | append: 'w,' %}
                {% endfor %}

                {% if srcset_values != "" %}
                  {% assign srcset_values = srcset_values | append: '#END' %}
                  {% assign srcset_values = srcset_values | remove: ',#END' %}
                {% endif %}
              <img alt="{{ media_item.alt }}" data-pf-temp-loading="{{ pf_temp_loading }}" class="sc-kTbBOC iggzJu active" data-action="1" style="--pf-image-ratio:{{ media_item.aspect_ratio }}" width="{{ media_item.width }}" height="{{ media_item.height }}" src="{{ media_item | image_url | append: "&width=" | append: "2048" }}" srcSet="{{ srcset_values }}" sizes="75vw" data-fetchPriority="{{ pf_temp_fetchPriority }}" decoding="async"/>{% endcase %}</div>{% endcapture %}{% if forloop.first and default_variant_media_id and default_variant_media_id != media_item.id  %}{% assign temp_media = media_template | replace: 'data-pf-temp-loading', 'loading' | replace: 'data-fetchPriority', 'fetchpriority' | prepend: '<template>' | append: '</template>' %}{% assign media_template = 'PF_TARGET_VARIANT PF_FEATURED_MEDIA_NEED_REPLACE' %}{% endif %} {{ media_template }}{% if default_variant_media_id == media_item.id %}{% assign target_media_item = media_template | replace: 'data-media-id', 'data-media-temp-id' %}{% endif %}{% endfor %} {% endcapture %} {% assign _tmp_loading = tmp_loading | replace: 'data-pf-temp-loading', 'loading' | replace: 'data-fetchPriority', 'fetchpriority' | replace: 'PF_FEATURED_MEDIA_NEED_REPLACE', temp_media | replace: 'PF_TARGET_VARIANT', target_media_item %}{% echo _tmp_loading | replace: 'loading="standard"', '' %}<button aria-label="Previous" type="button" class="pf-slider-prev nav-style-3" style="visibility:hidden"></button><button aria-label="Next" type="button" class="pf-slider-next nav-style-3" style="visibility:hidden"></button>{% if media.size <= 7 %}<div class="pf-slider-nav pf-slider-nav-with-{{ media.size }}-media pagination-style-3"> {% for media_item in media %}<button type="button"></button>{% endfor %} </div>{% else %}{% endif %}{% if media.size > 7 %}<div class="pf-slider-nav-with-number-left pagination-style-3"><div class="prev-button" style="display:flex;position:relative;align-items:center"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="18" fill="inherit" viewBox="0 0 12 18"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.325 16.751c.38.321.97.321 1.35 0a.888.888 0 0 0 .325-.68.888.888 0 0 0-.324-.68L2.484 8.496 10.676 1.6A.888.888 0 0 0 11 .92a.888.888 0 0 0-.324-.68C10.476.072 10.229 0 10 0a1.05 1.05 0 0 0-.676.24l-9 7.576a.888.888 0 0 0-.325.68c0 .264.121.509.324.68l9 7.575Z"></path></svg><p class="number-media-prev">1</p></div><button type="button" class="disabled first-media-pagination-button"></button><button type="button" class="pagination-button"></button><button type="button" class="pagination-button"></button><button type="button" class="pagination-button"></button><button type="button" class="pagination-button"></button><button type="button" class="pagination-button"></button><button type="button" class="disabled last-media-pagination-button"></button><div class="next-button" style="display:flex;position:relative;align-items:center"><p class="number-media-next">{{ media.size | minus: 6 }}</p><svg xmlns="http://www.w3.org/2000/svg" width="12" height="18" fill="inherit" viewBox="0 0 12 18"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.175 17.251c-.38.321-.97.321-1.35 0a.888.888 0 0 1-.325-.68c0-.264.121-.509.324-.68l8.192-6.895L.824 2.1A.888.888 0 0 1 .5 1.42c0-.264.121-.509.324-.68.2-.168.447-.24.675-.24.23 0 .476.072.676.24l9 7.576c.204.17.325.415.325.68 0 .264-.121.509-.324.68l-9 7.575Z"></path></svg></div></div>{% endif %}</div>{% endif %}</div></div></div><div class="sc-leRbh dkGbYH pf-66_ pf-list-media pf-hide pf-sm-hide pf-md-hide pf-lg-hide" data-pf-type="MediaList2"><div class="pf-media-slider scrollfix " style="--dpi-xs:0%;--gap-xs:10px" data-id="slider-ed693525-032d-450b-baee-e97b97325012">{% for media_item in media %}
              {% assign media_type = media_item.media_type %}<div class="sc-SSKdL jrqbnd pf-67_ pf-slide-list-media" data-img-id="{{ media_item.id }}" data-media-type="{{ media_item.media_type }}" data-pf-type="MediaItem2">
          {% assign base_url = media_item | image_url %}
          {% assign widths = "150, 250, 350, 450" | split: ', ' %}
          {% assign srcset_values = "" %}
          
          {% for width in widths %}
            {% assign image_url = base_url | append: "&width=" | append: width %}
            {% assign srcset_values = srcset_values | append: image_url | append: ' ' | append: width | append: 'w,' %}
          {% endfor %}
          
          {% if srcset_values != "" %}
            {% assign srcset_values = srcset_values | append: '#END' %}
            {% assign srcset_values = srcset_values | remove: ',#END' %}
          {% endif %}
        <img alt="{{ media_item.alt }}" loading="lazy" src="{{ media_item | img_url: "xundefined", scale: 2}}" srcSet="{{ srcset_values }}" fetchPriority="low" decoding="async" sizes="(min-width: 1200px) 20vw, (min-width: 1025px) and (max-width: 1199px) 20vw, (min-width: 768px) and (max-width: 1024px) 20vw, (max-width: 767px) 20vw"/>{% case media_type %}
            {% when 'model' %}<span class="sc-elxrJE djgniA"><svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.6" d="M14.1301 3.27971L9.00008 0.319707C8.69604 0.144171 8.35115 0.0517578 8.00008 0.0517578C7.649 0.0517578 7.30411 0.144171 7.00008 0.319707L1.88008 3.31971C1.5719 3.49759 1.31675 3.75447 1.14097 4.06385C0.965185 4.37323 0.875124 4.72391 0.880077 5.07971V10.9997C0.875124 11.3555 0.965185 11.7062 1.14097 12.0156C1.31675 12.3249 1.5719 12.5818 1.88008 12.7597L7.00008 15.7597C7.30411 15.9352 7.649 16.0277 8.00008 16.0277C8.35115 16.0277 8.69604 15.9352 9.00008 15.7597L14.1201 12.7597C14.4283 12.5818 14.6834 12.3249 14.8592 12.0156C15.035 11.7062 15.125 11.3555 15.1201 10.9997V4.99971C15.119 4.65165 15.0271 4.30991 14.8535 4.00825C14.6798 3.7066 14.4305 3.45547 14.1301 3.27971ZM7.73008 14.3797L2.61008 11.3797C2.54095 11.34 2.48167 11.2852 2.43666 11.2194C2.39164 11.1536 2.36205 11.0785 2.35008 10.9997V4.99971C2.3504 4.90601 2.37556 4.81407 2.42299 4.73327C2.47042 4.65246 2.53843 4.58567 2.62008 4.53971L7.74008 1.53971C7.82065 1.49319 7.91204 1.4687 8.00508 1.4687C8.09811 1.4687 8.18951 1.49319 8.27008 1.53971L13.3901 4.53971L8.67008 7.21971C8.45972 7.33976 8.28614 7.51498 8.16806 7.72646C8.04999 7.93793 7.9919 8.17764 8.00008 8.41971V14.4197C7.91475 14.4413 7.8254 14.4413 7.74008 14.4197L7.73008 14.3797Z" fill="black"></path></svg></span>{% when 'external_video' or 'video' %}<span class="sc-elxrJE djgniA"><svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.6" d="M1.71795 0.719814C1.56631 0.627985 1.39299 0.578117 1.21573 0.57532C1.03847 0.572523 0.863662 0.616896 0.7092 0.703896C0.554738 0.790895 0.42618 0.917392 0.336696 1.07043C0.247212 1.22346 0.200019 1.39754 0.199951 1.57481V12.3108C0.199976 12.4926 0.249526 12.6708 0.343274 12.8265C0.437022 12.9822 0.571425 13.1094 0.732038 13.1945C0.89265 13.2795 1.0734 13.3191 1.25486 13.3092C1.43632 13.2992 1.61163 13.24 1.76195 13.1378L10.112 7.46081C10.2504 7.36662 10.363 7.23915 10.4394 7.09011C10.5158 6.94107 10.5536 6.77523 10.5492 6.6078C10.5448 6.44038 10.4985 6.27673 10.4144 6.13189C10.3303 5.98704 10.2112 5.86564 10.068 5.77881L1.71795 0.718814V0.719814Z" fill="black"></path></svg></span>{% endcase %}</div>{% endfor %}</div></div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-euWNFl sc-gNXsgQ gruDft kcRMsd pf-69_ pf-heading-1-h3">{{ product.title }}</h3><div data-pf-type="ProductPrice2" class="sc-frWhkP eLxdmp pf-70_ pf-text-1"><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-cvBwEO gyTWrK pf-71_ pf-text-1 pf-lg-hide">{{ product.variants[0].price | money }}</div></div><button data-product-id="{{ product.id }}" data-checkout="cart" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" name="add" type="button" data-pf-type="ProductATC2" class="sc-jBqsaa ceQZtx pf-73_"><i class="sc-cKXyOM hKXzjB pf-74_ pf-icon-1 pfa pfa-bag-shopping" data-pf-type="Icon"></i>Add To Cart</button></div></div></div>{% endform %}{% endif %}</div></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}<button type="button" aria-label="Previous" style="visibility:hidden" class="pf-slider-prev nav-style-5"></button><button type="button" aria-label="Next" style="visibility:hidden" class="pf-slider-next nav-style-5"></button><div class="pf-slider-nav pagination-style-3"></div></div></div></div></div><div class="pf-c pf-hide" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-75_ pf-hide"></div></div></div><div class="sc-hzhKNl fltMam pf-76_ pf-r pf-r-eh" style="--s-xs:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-77_"><h3 data-pf-type="Heading2" class="sc-cTTcKX ejfvWQ pf-78_ pf-heading-1-h3">Main Collections</h3></div></div></div><div class="sc-hzhKNl fltMam pf-80_ pf-r pf-r-eh" style="--s-xs:8px;--s-sm:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-81_"><div style="--s-xs:8px;--s-sm:15px" data-pf-type="CollectionListing2" class="sc-lfYA-dV sc-xwvkV cCVQIm eAFZLh pf-82_"><div class="pf-slider pf-c-lt" style="--ss-xs:1;--ss-sm:3;--ss-md:3;--ss-lg:3" data-slider="{'navStyle':'none','maxHeight':true,'listLayout':{'all':0,'laptop':0,'tablet':0,'mobile':0},'slidesToShow':{'all':3,'laptop':3,'tablet':3,'mobile':1},'slidesToScroll':{'all':2,'laptop':3,'tablet':3,'mobile':1},'paginationStyle':'pagination-style-1','displayPartialItems':{'all':false,'laptop':false,'tablet':false,'mobile':false},'spacing':{'all':'30px','laptop':'30px','tablet':'30px','mobile':'16px'}}">{% assign defaultCollection = collection %}
				      {% assign cHandles = "bedroom,dining-rooms,nightstand" | split: "," %}
				      {% for cHandle in cHandles %}
              {% assign collection_index = forloop.index | minus: 1 %}
					    {% assign collection = collections[cHandle] %}<div class="pf-slide"><div data-product-id="{{ product.id }}" data-pf-type="CollectionBox" class="sc-iUwgAI iNpJYJ pf-83_"><div class="sc-hzhKNl fltMam pf-84_ pf-r pf-r-eh" style="--s-xs:0px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-85_"><img data-href="{{ collection.url }}" alt="{{ collection.image.alt }}" loading="lazy" width="{%- if collection.image -%}{{- collection.image.width -}}{%- else -%}526{%- endif -%}" height="{%- if collection.image -%}{{- collection.image.height -}}{%- else -%}526{%- endif -%}" src="
    {%- if collection.image -%}
      {%- assign src_values = collection.image | img_url: 'master' -%}
      
            {%- if src_values contains '?' -%}
              {%- assign src_values = src_values | append: '&width=2048' -%}
            {%- else -%}
              {%- assign src_values = src_values | append: '?width=2048' -%}
            {%- endif -%}
            
      {{- src_values -}}
    {%- else -%}
      https://cdn.shopify.com/s/files/1/0090/9236/6436/files/collection.svg?v=1721116020&width=2048
    {%- endif -%}
  " srcSet="{%- assign srcset_values = "" -%}
          {%- if collection.image -%}
            {%- assign base_url = collection.image | img_url: 'master' -%}
            {%- assign widths = "375, 550, 768, 1024, 1280, 1440, 1680, 1800, 1920, 2048" | split: ', ' -%}
            {%- for width in widths -%}
              {%- assign image_url = base_url | append: "&width=" | append: width -%}
              {%- assign srcset_values = srcset_values | append: image_url | append: ' ' | append: width | append: 'w,' -%}
            {%- endfor -%}
            {% if srcset_values != "" %}
              {%- assign srcset_values = srcset_values | append: '#END' -%}
              {%- assign srcset_values = srcset_values | remove: ',#END' -%}
            {%- else -%}
              {%- assign srcset_values = image_url -%}
            {%- endif -%}
            {% echo srcset_values %}
          {%- else -%}
            https://cdn.shopify.com/s/files/1/0090/9236/6436/files/collection.svg?v=1721116020
          {%- endif -%}
        " fetchPriority="low" style="--pf-image-ratio:{{ collection.image.aspect_ratio }}" sizes="(min-width: 1200px) 33vw, (min-width: 1025px) and (max-width: 1199px) 33vw, (min-width: 768px) and (max-width: 1024px) 33vw, (max-width: 767px) 75vw" decoding="async" data-pf-type="CollectionImage3" class="sc-pKreJ jowHiA pf-86_ pf-image-1 pf-bg-lazy" store="[object Object]"/><h5 data-collection-type="title" data-collection-id="{{ collection.id }}" data-pf-type="CollectionTitle" class="sc-blKHAk sc-gMZdCf iWaOia bSfVps pf-87_ pf-heading-1-h5"><a href="{{ collection.url }}" data-link="inherit">{{ collection.title }}</a></h5></div></div></div></div></div>{% endfor %}
				      {% assign collection = defaultCollection %}<button type="button" aria-label="Previous" style="visibility:hidden" class="pf-slider-prev none"></button><button type="button" aria-label="Next" style="visibility:hidden" class="pf-slider-next none"></button><div class="pf-slider-nav pagination-style-1"></div></div></div><div style="--s-xs:8px;--s-sm:15px" data-pf-type="CollectionListing2" class="sc-lfYA-dV sc-xwvkV cCVQIm eAFZLh pf-88_"><div class="pf-slider pf-c-lt" style="--ss-xs:1;--ss-sm:2;--ss-md:2;--ss-lg:2" data-slider="{'navStyle':'none','maxHeight':true,'listLayout':{'all':0,'laptop':0,'tablet':0,'mobile':0},'slidesToShow':{'all':2,'laptop':2,'tablet':2,'mobile':1},'slidesToScroll':{'all':2,'laptop':2,'tablet':2,'mobile':1},'paginationStyle':'pagination-style-1','displayPartialItems':{'all':false,'laptop':false,'tablet':false,'mobile':false},'spacing':{'all':'30px','laptop':'30px','tablet':'30px','mobile':'16px'}}">{% assign defaultCollection = collection %}
				      {% assign cHandles = "living-room,colorium" | split: "," %}
				      {% for cHandle in cHandles %}
              {% assign collection_index = forloop.index | minus: 1 %}
					    {% assign collection = collections[cHandle] %}<div class="pf-slide"><div data-product-id="{{ product.id }}" data-pf-type="CollectionBox" class="sc-iUwgAI iNpJYJ pf-89_"><div class="sc-hzhKNl fltMam pf-90_ pf-r pf-r-eh" style="--s-xs:0px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-91_"><img data-href="{{ collection.url }}" alt="{{ collection.image.alt }}" loading="lazy" width="{%- if collection.image -%}{{- collection.image.width -}}{%- else -%}526{%- endif -%}" height="{%- if collection.image -%}{{- collection.image.height -}}{%- else -%}526{%- endif -%}" src="
    {%- if collection.image -%}
      {%- assign src_values = collection.image | img_url: 'master' -%}
      
            {%- if src_values contains '?' -%}
              {%- assign src_values = src_values | append: '&width=2048' -%}
            {%- else -%}
              {%- assign src_values = src_values | append: '?width=2048' -%}
            {%- endif -%}
            
      {{- src_values -}}
    {%- else -%}
      https://cdn.shopify.com/s/files/1/0090/9236/6436/files/collection.svg?v=1721116020&width=2048
    {%- endif -%}
  " srcSet="{%- assign srcset_values = "" -%}
          {%- if collection.image -%}
            {%- assign base_url = collection.image | img_url: 'master' -%}
            {%- assign widths = "375, 550, 768, 1024, 1280, 1440, 1680, 1800, 1920, 2048" | split: ', ' -%}
            {%- for width in widths -%}
              {%- assign image_url = base_url | append: "&width=" | append: width -%}
              {%- assign srcset_values = srcset_values | append: image_url | append: ' ' | append: width | append: 'w,' -%}
            {%- endfor -%}
            {% if srcset_values != "" %}
              {%- assign srcset_values = srcset_values | append: '#END' -%}
              {%- assign srcset_values = srcset_values | remove: ',#END' -%}
            {%- else -%}
              {%- assign srcset_values = image_url -%}
            {%- endif -%}
            {% echo srcset_values %}
          {%- else -%}
            https://cdn.shopify.com/s/files/1/0090/9236/6436/files/collection.svg?v=1721116020
          {%- endif -%}
        " fetchPriority="low" style="--pf-image-ratio:{{ collection.image.aspect_ratio }}" sizes="(min-width: 1200px) 50vw, (min-width: 1025px) and (max-width: 1199px) 50vw, (min-width: 768px) and (max-width: 1024px) 50vw, (max-width: 767px) 75vw" decoding="async" data-pf-type="CollectionImage3" class="sc-pKreJ jowHiA pf-92_ pf-image-1 pf-bg-lazy" store="[object Object]"/><h5 data-collection-type="title" data-collection-id="{{ collection.id }}" data-pf-type="CollectionTitle" class="sc-blKHAk sc-gMZdCf iWaOia bSfVps pf-93_ pf-heading-1-h5"><a href="{{ collection.url }}" data-link="inherit">{{ collection.title }}</a></h5></div></div></div></div></div>{% endfor %}
				      {% assign collection = defaultCollection %}<button type="button" aria-label="Previous" style="visibility:hidden" class="pf-slider-prev none"></button><button type="button" aria-label="Next" style="visibility:hidden" class="pf-slider-next none"></button><div class="pf-slider-nav pagination-style-1"></div></div></div></div></div></div><div class="sc-hzhKNl fltMam pf-94_ pf-r pf-r-eh pf-lg-hide" style="--s-xs:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-95_"><div data-pf-type="Custom.HTML" class="sc-bWJTsT bqQLUR pf-96_"><div class="marquee-wrapper">
  <div class="custom-marquee-container">
    <div class="custom-marquee">
      <!-- lk set -->
      <a href="/pages/leesburg" class="marquee-item">Leesburg</a>
      <a href="/pages/mclean" class="marquee-item">McLean</a>
      <a href="/pages/tysons" class="marquee-item">Tysons-McLean</a>
      <a href="/pages/great-falls" class="marquee-item">Great Falls</a>
      <a href="/pages/ashburn" class="marquee-item">Ashburn</a>
      <a href="/pages/aldie" class="marquee-item">Aldie</a>
      <a href="/pages/oakton" class="marquee-item">Oakton</a>
      <a href="/pages/vienna" class="marquee-item">Vienna</a>
      <a href="/pages/fairfax" class="marquee-item">Fairfax</a>
      <a href="/pages/brambleton" class="marquee-item">Brambleton</a>
      <a href="/pages/reston" class="marquee-item">Reston</a>

      <!-- Duplicate set -->
      <a href="/pages/leesburg" class="marquee-item">Leesburg</a>
      <a href="/pages/mclean" class="marquee-item">McLean</a>
      <a href="/pages/tysons" class="marquee-item">Tysons-McLean</a>
      <a href="/pages/great-falls" class="marquee-item">Great Falls</a>
      <a href="/pages/ashburn" class="marquee-item">Ashburn</a>
      <a href="/pages/aldie" class="marquee-item">Aldie</a>
      <a href="/pages/oakton" class="marquee-item">Oakton</a>
      <a href="/pages/vienna" class="marquee-item">Vienna</a>
      <a href="/pages/fairfax" class="marquee-item">Fairfax</a>
      <a href="/pages/brambleton" class="marquee-item">Brambleton</a>
      <a href="/pages/reston" class="marquee-item">Reston</a>
    </div>
  </div>
</div>

<style>
  .marquee-wrapper {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }

  .custom-marquee-container {
    width: 100%;
    max-width: 2000px;
    /* Sabit maksimum genilik */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 70px;
    /* Sabit ykseklik */
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .custom-marquee {
    display: flex;
    animation: marquee 40s linear infinite;
    width: fit-content;
    height: 100%;
    align-items: center;
  }

  .marquee-item {
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-right: 30px;
    color: black !important;
    text-decoration: none !important;
    white-space: nowrap;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  /* Responsive */
  @media (min-width: 768px) {
    .marquee-item {
      font-size: 42px !important;
    }

    .custom-marquee-container {
      height: 80px;
    }
  }

  @media (max-width: 767px) {
    .marquee-item {
      font-size: 32px !important;
    }

    .custom-marquee-container {
      height: 60px;
      max-width: 100%;
    }
  }

  /* Ekstra gvenlik */
  @media (max-width: 480px) {
    .marquee-item {
      font-size: 24px !important;
      padding: 8px 15px;
      margin-right: 20px;
    }

    .custom-marquee-container {
      height: 50px;
    }
  }
</style></div></div></div></div><div class="sc-hzhKNl fltMam pf-97_ pf-r pf-r-eh" style="--s-xs:8px;--s-sm:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-98_"><img alt="Frame 1000004320 (1).png__PID:f131f12a-4583-455f-abfa-266e82c158d0" src="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=2048" srcSet="https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=375 375w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=550 550w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=768 768w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=1024 1024w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=1280 1280w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=1440 1440w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=1680 1680w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=1800 1800w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=1920 1920w,https://cdn.shopify.com/s/files/1/0647/6231/4950/files/Frame_1000004320_1.png?v=1727954729&width=2048 2048w" fetchPriority="low" decoding="async" loading="lazy" style="--pf-image-ratio:0.5946969696969697" width="314" height="528" sizes="75vw" data-pf-type="Image4" class="sc-pKreJ jowHiA pf-99_ pf-image-1" store="[object Object]"/><div class="sc-hzhKNl fltMam pf-100_ pf-r pf-r-eh" style="--s-xs:8px;--s-sm:15px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-101_"><h3 data-pf-type="Heading2" class="sc-cTTcKX ejfvWQ pf-102_ pf-heading-1-h3">Blogs</h3><h3 data-pf-type="Heading2" class="sc-cTTcKX ejfvWQ pf-104_ pf-heading-1-h3">Origins of Salloni Furniture: Which Country Made Saloni Furniture?</h3><p class="sc-lmUbDS cFVOqs pf-106_ pf-text-1" data-pf-type="Paragraph3">Discover timeless elegance and craftsmanship at Saloni Furniture, where luxury meets comfort to transform your living spaces</p><a href="https://salonifurnitureus.myshopify.com/blogs/news" target="_blank" data-pf-type="Button2" class="sc-fscnvs eKYAAY pf-108_ pf-button-1">Read More</a></div></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-110_"><h1 data-pf-type="Heading2" class="sc-cTTcKX ejfvWQ pf-111_ pf-heading-1-h1">Today at 
Saloni Furniture</h1><p class="sc-lmUbDS cFVOqs pf-113_ pf-text-1" data-pf-type="Paragraph3">Explore our flagship store, featuring an extensive selection of over 5,000 furniture styles across eight floors of luxury and design.</p><a href="/pages/contact" target="_self" data-pf-type="Button2" class="sc-fscnvs eKYAAY pf-115_ pf-button-1 animate-pop">Plan Your Visit<br></a></div></div></div><div class="sc-hzhKNl fltMam pf-117_ pf-bg-lazy pf-r pf-c-cm pf-r-eh" style="--s-xs:8px;--s-sm:15px;--s-lg:0px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-118_"><div class="sc-hzhKNl fltMam pf-119_ pf-bg-lazy pf-r pf-c-cm pf-lg-hide pf-md-hide pf-sm-hide" style="--s-xs:8px;--s-sm:15px;position:relative" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-120_ pf-bg-lazy pf-hide"><h3 data-pf-type="Heading2" class="sc-cTTcKX ejfvWQ pf-121_ pf-heading-1-h3">Living Room</h3><h3 data-pf-type="Heading2" class="sc-cTTcKX ejfvWQ pf-123_ pf-heading-1-h3">Origins of Salloni Furniture: Which Country Made Saloni Furniture?</h3><p class="sc-lmUbDS cFVOqs pf-125_ pf-text-1" data-pf-type="Paragraph3">Discover timeless elegance and craftsmanship at Saloni Furniture, where luxury meets comfort to transform your living spaces</p><a data-pf-type="Button2" class="sc-fscnvs eKYAAY pf-127_ pf-button-1">Read More<br></a></div></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-129_"><div style="--s-xs:8px;--s-sm:15px;--s-lg:9px" data-pf-type="ArticleList2" class="sc-lfYA-dV sc-fIDaHU juNLax jXJjpC pf-130_ pf-hide"><div class="pf-slider pf-c-lt" style="--ss-xs:1;--ss-sm:1;--ss-md:1;--ss-lg:1" data-slider="{'navStyle':'nav-style-5','maxHeight':false,'listLayout':{'all':0,'laptop':0,'tablet':0,'mobile':1},'slidesToShow':{'all':1,'laptop':1,'tablet':1,'mobile':1},'slidesToScroll':{'all':1,'laptop':1,'tablet':1,'mobile':1},'paginationStyle':'pagination-style-2','displayPartialItems':{'all':false,'laptop':false,'tablet':false,'mobile':false},'spacing':{'all':'18px','laptop':'30px','tablet':'30px','mobile':'16px'}}">{% assign defaultArticle = article %}{% paginate blogs["news"].articles by 4 %}{% for article in blogs["news"].articles reversed %}{% assign article_index = forloop.index | minus: 1 %}<div class="pf-c pf-slide"><div data-pf-type="ArticleBox" class="sc-biziTF iAIIXH pf-131_"><div class="sc-hzhKNl fltMam pf-132_ pf-r pf-r-eh pf-hide" style="--s-xs:10px;--s-lg:0px;position:relative" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-dOorzJ liFmcT pf-133_"><img data-href="{{ article.url }}" alt="{{ article.image.alt }}" loading="lazy" width="{%- if article.image -%}{{- article.image.width -}}{%- else -%}526{%- endif -%}" height="{%- if article.image -%}{{- article.image.height -}}{%- else -%}526{%- endif -%}" src="
    {%- if article.image -%}
      {%- assign src_values = article.image | img_url: 'master' -%}
      
            {%- if src_values contains '?' -%}
              {%- assign src_values = src_values | append: '&width=2048' -%}
            {%- else -%}
              {%- assign src_values = src_values | append: '?width=2048' -%}
            {%- endif -%}
            
      {{- src_values -}}
    {%- else -%}
      https://cdn.shopify.com/s/files/1/0090/9236/6436/files/collection.svg?v=1721116020&width=2048
    {%- endif -%}
  " srcSet="{%- assign srcset_values = "" -%}
          {%- if article.image -%}
            {%- assign base_url = article.image | img_url: 'master' -%}
            {%- assign widths = "375, 550, 768, 1024, 1280, 1440, 1680, 1800, 1920, 2048" | split: ', ' -%}
            {%- for width in widths -%}
              {%- assign image_url = base_url | append: "&width=" | append: width -%}
              {%- assign srcset_values = srcset_values | append: image_url | append: ' ' | append: width | append: 'w,' -%}
            {%- endfor -%}
            {% if srcset_values != "" %}
              {%- assign srcset_values = srcset_values | append: '#END' -%}
              {%- assign srcset_values = srcset_values | remove: ',#END' -%}
            {%- else -%}
              {%- assign srcset_values = image_url -%}
            {%- endif -%}
            {% echo srcset_values %}
          {%- else -%}
            https://cdn.shopify.com/s/files/1/0090/9236/6436/files/collection.svg?v=1721116020
          {%- endif -%}
        " fetchPriority="low" style="--pf-image-ratio:{{ article.image.aspect_ratio }}" decoding="async" sizes="75vw" data-pf-type="ArticleImage3" class="sc-pKreJ jowHiA pf-134_ pf-image-1" store="[object Object]"/><h3 data-pf-type="ArticleTitle" class="sc-eLtRpQ sc-fuTRAX fjCpmr kQRRwR pf-135_ pf-heading-1-h3"><a data-link="inherit" href="{{ article.url }}">{{ article.title }}</a></h3><div data-pf-type="ArticleMeta" class="pf-136_ pf-text-1" store="[object Object]">{% assign paths = "a/pf_preview, a/pf_dev_preview, a/pf_local_preview, /apps/pagefly" | split: ", " %}
        {% assign current_path = request.path %}
        {% assign include_path = false %}

        {% for path in paths %}
          {% if current_path contains path %}
            {% assign include_path = true %}
          {% endif %}
        {% endfor %}

        {% unless include_path %}<div class="meta-tag-visibility-date syntax-tag" contenteditable="false" style="display: inline-block; margin-top: 8px;">
            {% liquid
              assign published_at = article.published_at
              assign time_zone = published_at | date: "%z"
              assign time_zone_to_view_first = time_zone | slice: 0, 3
              assign time_zone_to_view_second = time_zone | slice: 3, 2
              assign time_zone_to_view = time_zone_to_view_first | prepend: 'GMT' | append : ':' | append: time_zone_to_view_second 
            %}
            {{ published_at | date: "%b %d, %Y  " }}</div> by <div class="meta-tag-author syntax-tag" contenteditable="false" style="display: inline-block; margin-top: 8px;">{{ article.author }}</div>{% endunless %} </div><p data-show-button="true" data-more="" data-less="" data-article-id="{{ article.id }}" data-pf-type="ArticleExcerpt" class="sc-cbPkLH hmtHIP pf-137_ pf-text-1">{% if article.excerpt != "" %}{{ article.excerpt | replace: '<img', 'IMG_TAG_ESCAPE_256' | strip_html | replace: 'IMG_TAG_ESCAPE_256', '<img'}}{% endif %}</p></div></div></div></div></div>{% endfor %}{% assign article = defaultArticle %}{% endpaginate %}<button type="button" aria-label="Previous" style="visibility:hidden" class="pf-slider-prev nav-style-5"></button><button type="button" aria-label="Next" style="visibility:hidden" class="pf-slider-next nav-style-5"></button><div class="pf-slider-nav pagination-style-2"></div></div></div></div></div></div></div></div></div></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"Home","pageType":"home","pageId":"b8e6e291-1df8-4db0-bb76-46f007b9502f","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"sectionRootType":"Section","trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.24.6.7","shopDomain":"salonifurnitureus.myshopify.com","elementData":{"pf-14_":{"autoPlay":false,"autoPlayDelay":3000,"loop":false,"slidesToShow":{"all":1,"laptop":1,"tablet":1,"mobile":1},"slidesToScroll":{"all":1,"laptop":1,"tablet":1,"mobile":1},"displayPartialItems":{"all":false,"laptop":false,"tablet":false,"mobile":false},"gutter":{"all":0,"laptop":0,"tablet":0,"mobile":0},"maxHeight":true,"pauseOnHover":false,"navStyle":"nav-style-1","paginationStyle":"none","id":"d011ac4b-4dfc-403a-a529-8bfc1224cd9a","_type":"Slideshow"},"pf-65_":{"hoverAction":2,"onHover":0,"clickAction":1,"navStyle":"nav-style-3","paginationStyle":"pagination-style-3","slidesToShow":{"all":1,"laptop":1,"tablet":1,"mobile":1},"slidesToScroll":{"all":1,"laptop":1,"tablet":1,"mobile":1},"loading":"lazy","ratio":{"all":"unset","laptop":"unset","tablet":"unset","mobile":"square"},"disableSlideshow":false,"id":"99ed6935-2503-4d65-8b7a-eee97b973250","_type":"MediaMain2"},"pf-66_":{"slidesToShow":{"all":5,"laptop":5,"tablet":5,"mobile":5},"slidesToScroll":{"all":1,"laptop":1,"tablet":1,"mobile":1},"displayPartialItems":{"all":false,"laptop":false,"tablet":false,"mobile":false},"navStyle":"none","listLayout":{"all":1,"laptop":1,"tablet":1,"mobile":1},"id":"ed693525-032d-450b-baee-e97b97325012","_type":"MediaList2"},"pf-68_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"3525032d-650b-4aee-a97b-973250121a95","_type":"ProductBadge"},"pf-64_":{"listPosition":{"all":2,"laptop":2,"tablet":2,"mobile":2},"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","id":"1899ed69-3525-432d-a50b-7aeee97b9732","_type":"ProductMedia2"},"pf-73_":{"iconPos":"left","id":"0b7aeee9-7b97-4250-921a-952181209c8d","_type":"ProductATC2"}},"shopifyProxyPath":"/apps/pagefly"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://salonifurnitureus.myshopify.com/admin/apps/pagefly/editor?id=b8e6e291-1df8-4db0-bb76-46f007b9502f&type=home)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}